$darkGreyText: #737373;
$lightGreyText: #BDBDBD;
$greyElements: #C6C6C6;
$lightGreyElements: #E0E0E0;
$veryLightGreyElements: #F2F2F2;
$blueAccentColor: #46C2CB;
$lightBlueOnHover: #0aeeff;
$yellowAccentColor: #F2F7A1;
$disableBtnColor: #989898;
$white: #fff;
$black: #000;
$blackSemiTransp: rgba(0, 0, 0, 0.65);
