@import './vars.scss';
@import './global.scss';
@import './sortAndLayout.scss';
@import './cardProduct.scss';

@media screen and (max-width: 1560px) {

  .header-inner {
    position: relative;
  }

  .total-sum {
    margin-right: 50px;
  }

  .search-bar {
    flex-basis: 800px;
    margin-left: 100px;
  }

  .page-catalog {
    max-width: 1250px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .cards-area {
    justify-content: flex-start;
  }
  .prod-card {
    margin: 0;
  }
}

@media screen and (max-width: 1350px) {
  .search-bar {
    flex-basis:650px;
  }
  .page-catalog {
    max-width: 1000px;
  }

  .head-line {
    display: flex;
    justify-content: space-between;
  }

  .sort-by-wrap, .switch-layout {
    margin-left: 0;
  }

  .copy-link {
    margin-left: auto;
  }

  .reset-copy-wrap {
    width: 230px;
  }
}

@media screen and (max-width: 1200px) {
  .search-bar {
    flex-basis:550px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .search-bar {
    flex-basis:450px;
  }

  .page-catalog {
    max-width: 750px;
  }
}

@media screen and (max-width: 950px) {

  .header-inner {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header {
    height: 160px;
  }
  .header-inner {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-bar {
    height: 40px;
  }

  .shop-logo {
    height: 40px;
    width: 110px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
  }

  .search-input {
    padding-left: 60px;
  }

  .reset-copy-wrap {
    position: absolute;
    transform: translateX(-300%);
  }
  .filter-panel {
    position: absolute;
    transform: translateX(-200%);
    z-index: 3;
    background-color: white;
  }

  .switch-layout {
    display: none;
  }

  .head-line {
    justify-content: space-around;
  }

  .search-bar {
   position: absolute;
   margin-left: 0;
   bottom: 0;
  }

  .header {
    height: 140px;
  }

  .header-inner {
    align-items: flex-start;
    height: 90px;
  }

  .discount {
    font-size: 16px;
  }

}

@media screen and (max-width: 810px) {
  .page-catalog {
    max-width: 500px;
  }

  .search-bar {
    margin-left: 5px;
  }
}

@media screen and (max-width: 550px) {
  .page-catalog {
    max-width: 250px;
  }

  .header-inner {
    height: 90px;
  }

  .prods-per-page {
    display: none;
  }

  .total-numbers {
    font-size: 20px;
  }

  .search-bar {
    position: absolute;
    bottom: 0px;
    margin-left: 0;
  }

  .total-sum {
    margin-right: 20px;
  }

  .search-btn-find {
    min-width: 80px;
  }

  .footer-inner {
    flex-direction: column;
  }

  .dev-year {
    color: black;
  }
}

@media screen and (max-width: 390px) {
  .header-inner {
    margin-left: 15px;
    margin-right: 15px;
  }
}