@import './vars.scss';
@import './global.scss';
@import './sortAndLayout.scss';
@import './cardProduct.scss';

@media screen and (max-width: 1560px) {

  .page-details {
    max-width: 1000px;
  }

  .header-inner {
    position: relative;
  }

  .total-sum {
    margin-right: 50px;
  }

  .search-bar {
    flex-basis: 800px;
    margin-left: 100px;
  }

  .page-catalog {
    max-width: 1250px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .cards-area {
    justify-content: center;
  }
  .prod-card {
    margin: 0;
  }

  .page-details .image-block .main-image {
    width: auto;
    max-height: 300px;
    max-width: 500px;
  }

  .page-details .info-block .info-list {
    width: 400px;
  }

  .page-details .btns-block .btn {
    width: 212px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1350px) {
  .search-bar {
    flex-basis:650px;
  }
  .page-catalog {
    max-width: 1000px;
  }

  .head-line {
    display: flex;
    justify-content: space-between;
  }

  .sort-by-wrap, .switch-layout {
    margin-left: 0;
  }

  .copy-link {
    margin-left: auto;
  }

  .reset-copy-wrap {
    width: 230px;
  }
}

@media screen and (max-width: 1200px) {

  .search-bar {
    flex-basis:550px;
    margin-left: 50px;
  }

  .card-page .item-count {
    width: auto;
  }

  .card-page .prod-count-control {
    margin-right: 30px;
  }

  .card-page .prod-img {
    width: 200px;
    height: 75%;
  }

  .card-page .price-wrap {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1050px) {

  .page-details {
    max-width: 500px;
  }

  .search-bar {
    flex-basis:450px;
  }

  .page-catalog {
    max-width: 750px;
  }

  .page-details .product-content-block {
    flex-direction: column;
  }

  .page-details .info-block .info-list {
    width: 500px;
    margin-top: 60px;
  }

  .page-details .btns-block .btn {
    width: 250px;
  }

  .page-details .info-block {
    margin-left: 0;
  }

  .page-details .path {
    font-size: 16px;
  }

  .page-details .path .path-step:not(:nth-last-child(1))::after {
    height: 20px;
    width: 20px;
    background-size: cover;
  }

  .card-page .summary-title {
    display: none;
  }

  .card-page .summary-block * {
    margin-left: auto;
  }
}

@media screen and (max-width: 950px) {

  .card-page .item-sum-col {
    width: auto;
  }

  .continue-btn {
    width: 250px;
  }

  .card-page .item-count {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.card-page.price-wrap {
    justify-content: flex-end;
}

  .card-page .one-item-block {
    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );
}

  .header-inner {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header {
    height: 160px;
  }
  .header-inner {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-bar {
    height: 40px;
  }

  .head-line {
    position: relative;
  }

  .shop-logo {
    height: 40px;
    width: 110px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
  }

  .search-input {
    padding-left: 60px;
  }

  .reset-copy-wrap {
    position: absolute;
    transform: translateX(-300%);
    background-color: $white;
    transition: all 200ms ease-in-out;
  }
  .reset-copy-wrap.filters-active {
    transform: translateX(0);
    left: 0;
    top: 60px;
    z-index: 7;
  }

  .filter-inner {
    background-color: $white;
  }

  .dual-slider-container {
    background-color: $white;
    padding-bottom: 60px;
  }

  .filter-panel {
    position: absolute;
    transform: translateX(-200%);
    z-index: 3;
    background-color: $white;
    transition: all 200ms ease-in-out;
    height: 100%;
  }
  .filter-panel.filters-active{
    transform: translateX(0);
    padding-top: 50px;
  }

  .switch-layout {
    display: none;
  }

  .head-line {
    justify-content: space-around;
  }

  .search-bar {
   position: absolute;
   margin-left: 0;
   bottom: 0;
  }

  .header {
    height: 140px;
  }

  .header-inner {
    align-items: flex-start;
    height: 90px;
  }

  .discount {
    font-size: 16px;
  }

  .mobile-filter-btn {
    width: 100%;
    height: 40px;
    background-color: $blueAccentColor;
    position: absolute;
    left: 0;
    top: 140px;
    text-align: center;
    line-height: 40px;
    color: $white;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    transition: 200ms all ease-in;
    cursor: pointer;
    z-index: 4;
  }

  .mobile-filter-btn:hover {
    background-color: $lightBlueOnHover;
  }

  .filter-icon {
    width: 25px;
    height: 25px;
    background-image: url('../assets/icons/filtr.svg');
    position: relative;
    top: 5px;
  }

}

@media screen and (max-width: 810px) {
  .page-details .title-block .title {
    font-size: 55px;
  }

  .page-catalog {
    max-width: 500px;
  }

  .search-bar {
    margin-left: 5px;
  }

  .title {
      max-width: 250px;
    }

  .card-page .summary-block {
    margin-bottom: 200px;
    display: grid;
    height: 100px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    text-align: center;
}

  .card-page .summary-block *  {
    line-height: 40px;
  }

  .card-page .summary-block * {
    margin-left: 0;
  }

  .card-page .cart-order-btn {
    height: 66px;
    top: 0;
    right: 0;
    width: 200%;
  }

  .page-404 .moon {
    width: 500px;
  }
}

@media screen and (max-width: 750px) {

  .card-page {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 420px;
  }

  .card-page .cart-nav-line {
    display: flex;
    justify-content: space-around;
  }

  .brand {
    margin-top: 40px;
  }

  .card-page .one-item-block {
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
  }

  .card-page .summary-block {
    margin-bottom: 200px;
    display: grid;
    height: 100px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    text-align: center;
}

  .card-page .prod-card-inner {
    flex-direction: column;
  }

  .card-page .prod-img-wrap {
    height: 200px;
  }

  .card-page .header-h2-wrap {
    display: none;
  }

  .card-page .desctiption {
    max-width: 320px;
  }

  .card-page .cart-order-btn {
    width: 100%;
  }

  .modal {
    min-width: 540px;
  }

  .form {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {

  .card-page {
    max-width: 320px;
  }

  .card-page .counter:last-child {
    margin-left: 30px;
}

  hr {
    display: none;
  }

  .card-page .desctiption {
    margin-bottom: 30px;
  }

  .card-page .prod-count-control {
    margin-right: 0;
}

  .details-block {
    width: 320px;
  }

  .page-catalog {
    max-width: 250px;
  }

  .header-inner {
    height: 90px;
  }

  .prods-per-page {
    display: none;
  }

  .total-numbers {
    font-size: 20px;
  }

  .search-bar {
    position: absolute;
    bottom: 0px;
    margin-left: 0;
  }

  .total-sum {
    margin-right: 20px;
  }

  .search-btn-find {
    min-width: 80px;
  }

  .footer-inner {
    flex-direction: column;
  }

  .dev-year {
    color: black;
  }

  .page-details .image-block .main-image {
    width: 320px;
  }

  .page-details .title-block .title {
    font-size: 25px;
  }
  .page-details .path .path-step:not(:nth-last-child(1))::after {
    height: 10px;
    width: 10px;
    margin-right: 28px;
  }
  .page-details .path .path-step:not(:nth-last-child(1)) {
    margin-right: 28px;
  }

  .page-details .btns-block .btn {
    width: 160px;
  }

  .page-details .info-block .info-list {
    width: 320px;
  }

  .page-details .image-block .images-list li {
    width: 100px;
    height: auto;
  }
    .modal {
    min-width: 320px;
  }

  .form {
    width: 70%;
  }

  .card-page .prod-img {
    height: 90%;
    width: 320px;
  }

  .card-page .item-count {
    top: 200px;
  }

  .img-more-info-icon {
    margin-left: 42%;
    margin-top: 23%;
  }

  .page-404 .moon {
    width: 300px;
  }
}

@media screen and (max-width: 390px) {

  .card-page {
    padding-left: 0;
  }

  .header-inner {
    margin-left: 15px;
    margin-right: 15px;
  }
}