.left-dots-bg,
.right-dots-bg {
  width: 27px;
  height: 27px;
  margin-left: 7px;
}

.switch-layout {
  grid-column: 6;
  margin-left: auto;
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-layout input {
  opacity: 0;
  width: 0;
  height: 0;
}

.layout-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  border: 2px $veryLightGreyElements solid;
}

.layout-slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: -1px;
  bottom: -2px;
  background-color: $blueAccentColor;
  background-image: url(../assets/icons/5-dots.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  transition: 0.4s;
  background-position: center;
  background-size: 27px;
  background-repeat: no-repeat;
}

 .layout-slider:hover:before {
  background-color: $lightBlueOnHover;
}

input:checked + .layout-slider:before {
  border-radius: 0 10px 10px 0;
  background-image: url(../assets/icons/4-dots-w.svg);
}

input:checked + .layout-slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.prods-per-page {
  grid-column: 4;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.prods-count {
  padding-left: 10px;
}

.sort-by-select {
  grid-column: 5;
  appearance: none;
  border-radius: 5px;
  border: $veryLightGreyElements 1px solid;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  color: $darkGreyText;
  cursor: pointer;
}

.sort-by-wrap {
  position: relative;
  margin-left: auto;
  width: 210px;
  height: 40px;
  background-color: $blueAccentColor;
  border-radius: 10px;
}

.sort-by-wrap::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 40%;
  width: 0.8em;
  height: 0.5em;
  background-color: inherit;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  cursor: pointer;
  pointer-events:none;
}

.sort-by-select:focus {
  outline: none;
}

.sort-by-wrap:hover {
  background-color: $lightBlueOnHover;
}

.sort-option {
  color: $darkGreyText;
}

.filter-panel {
  width: 250px;
}

.filter-inner {
  display: flex;
  flex-direction: column;
  & > * + * {
    margin-top: 70px;
  }
  .filter-title {
    margin-bottom: 25px;
  }
  .filter-value-list {
    display: flex;
    flex-direction: column;
    height: calc(23px * 6 + 15px * 5);
    overflow-y: scroll;
    overflow-x: hidden;
    & > * + * {
      margin-top: 15px;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: $lightGreyElements;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      width: 10px;
      height: 45px;
      background-color: $blueAccentColor;
      border-radius: 5px;
    }
  }
  .filter-category-list {
    & > * {
      text-transform: capitalize;
    }
  }

  .checkbox-container {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    padding-left: 35px;
    padding-right: 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    span {
      color: $darkGreyText;
    }
    &.actual {
      span {
        color: $blueAccentColor;
      }
    }
    &:hover {
      input ~ .checkmark::after {
        background-color: $lightGreyText;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      &:checked ~ .checkmark::after {
        background-color: $blueAccentColor;
      }
    }
    .checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 1px solid $darkGreyText;
      border-radius: 5px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 16px;
        width: 16px;
        border-radius: 5px;
      }
    }
  }

  .dual-slider-container {
    display: flex;
    flex-direction: column;
    .values-container {
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
    }
    .sliders-control {
      position: relative;
      height: 20px;
      margin: 15px 20px 0;
      input[type="range"] {
        appearance: none;
        height: 2px;
        width: 100%;
        top: 10px;
        position: absolute;
        background-color: $greyElements;
        pointer-events: none;
        &::-webkit-slider-thumb {
          appearance: none;
          pointer-events: all;
          width: 20px;
          height: 20px;
          background-color: $blueAccentColor;
          position: relative;
          z-index: 2;
          border-radius: 50%;
          box-shadow: 0 0 0 1px $greyElements;
          cursor: pointer;
          &:hover {
            box-shadow: inset 0 0 3px $darkGreyText, 0 0 9px $darkGreyText;
          }
          &:active {
            box-shadow: inset 0 0 3px $blueAccentColor, 0 0 9px $blueAccentColor;
          }
        }
      }
    }
  }
}
