.main:has(.page-404) {
  margin: 0;
  background-color: $black;
}

.page-404 {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9db01344-5d0e-4cee-afea-8cdafeb4bc7f/dc14124-b191c0da-cbe7-4ef6-a476-470c82ed9e97.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzlkYjAxMzQ0LTVkMGUtNGNlZS1hZmVhLThjZGFmZWI0YmM3ZlwvZGMxNDEyNC1iMTkxYzBkYS1jYmU3LTRlZjYtYTQ3Ni00NzBjODJlZDllOTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rI400GPlUUGnzvoAHOnSMqCpmdm3VWZYlej3R8o3ABk');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 255px);
  display: flex;
  flex-direction: column;
  cursor: default;

  .h1 {
    color: $white;
    font-size: 154px;
    margin: auto;
    text-align: center;
  }

  .text {
    color: $white;
    margin: auto;
    font-size: 32px;
  }

  .link {
    color: $white;
    margin: auto;
    margin-top: 50px;
    border: $white 1px solid;
    line-height: 50px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
  }

  .link:hover {
    background-color: $lightBlueOnHover;
    border-color: $lightBlueOnHover;
  }

  .moon {
    align-self: flex-end;
    margin: auto;
    margin-bottom: 0;
    background-image: url('../assets/img/moon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    width: 770px;
    height: 200px;
  }
}
