@import "../assets/libs/normalize.css";
@import "../assets/style/global.scss";

@import "./pages/catalog/style";
@import "./pages/details/style";
@import "./pages/cart/style";

#main-page {
  margin: auto;
  width: 100%;
  max-width: 1500px;
}
