$body-color: red;

body {
  color: $body-color;
}

html,
body {
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}

#root {
    display: flex;
    height: 100%;
}

#main-page {
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    border-right: 1px solid lightgray;
}

.sidebar > a {
    margin: 0.5rem 0;
}

.page-404 {
    color: blue;
}

.page-catalog {
    color: green;
}

.page-cart {
    color: yellow;
}

.page-details {
    color: aqua;
}