@import "./components/normalize";
@import "./components/_global";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


$body-color: red;

body {
  color: $body-color;
}